html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

::-moz-selection {
  background: #121623;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

a, li {
  list-style: none;
  text-decoration: none;
  transition: all 0.3s ease;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}


body {
  font-family: 'Muli', sans-serif;
  font-size: 14px;
  color: white;
  min-height: 100vh;
  background-image: url("../img/pecunian.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

.wrapper {
  width: 90%;
  margin: 0 5%;
}


header {
  width: 100%;
  padding-top: 20px;
}

nav {
  width: 95%;
  margin: 0 auto;
}

ul {
  text-align: center;
  padding-left: 0px;
}

li {
  display: inline-block;
  padding: 5px;
}

a {
  color: white;
  font-weight: 300;
  font-size: 12px;
}

.services-wrapper, .company-info, .about, .portfolio {
  width: 95%;
}

.logo-wrapper {
  margin: 0 auto;
  text-align: center;
}

.logo {
  height: 40px;
  margin-top: 20vh;
}

.company-info {
  text-align: center;
  padding-top: 100px;
  margin: 0 auto;
}

p {
  line-height: 30px;
  font-weight: 300;
}

.about {
  text-align: center;
  margin: 0 auto;
  margin-top: 60px;
}

.services-wrapper {
  padding: 50px 0px;
  margin: 0 auto;
}

.service {
  text-align: center;
  padding: 10px 0px;
  max-width: 300px;
  margin: 0 auto;
}

h5 {
  font-size: 14px;
  margin: 6px 0px 18px 0px;
  letter-spacing: 1px;
}

.service-info {
  font-size: 12px;
  line-height: 20px;
}

.portfolio {
  text-align: center;
  margin: 0 auto;
  padding-top: 60px;
}

.portfolio-item {
  width: 90px;
  height: auto;
  padding: 15px
}

.portfolio-row {
  padding: 10px 0px;
  display: flex; 
  justify-content: center;
  align-items: center;
}

.t3 {
  width: 50px;
}

.worldmap {
  display: none;
}

.contact-wrapper {
  margin: 0 auto;
  max-width: 1200px;
  text-align: center;
  padding: 50px 0px;
}

.contact-title {
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 18px;
}

.careers-wrapper {
  width: 95%;
  margin: 0 auto;
}

.careers-title, .portfolio-title {
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  padding-bottom: 40px;
  letter-spacing: 1px;
}

.position-title {
  padding: 10px;
}

.careers-wrapper {
  max-width: 700px;
  padding-top: 60px;
  text-align: center;
}
  
.seoul {
  margin-top: 20px;
}

.singapore {
 
}

.line {
  display: inline-block;
  width: 200px;
  height: 1px;
  background: white;
}

.contact-email {
  font-size: 14px;
  margin: 30px;
  letter-spacing: 1px;
  text-decoration: underline;
  transition: all 0.3s ease;
}

.contact-email:hover {
  color: #FC6B21;
}

li a:hover {
  opacity: 0.7;
}
/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {
  .about {
    max-width: 420px;
  }
}

@media only screen and (min-width: 768px) {
  .services-wrapper {
    display: flex;
    max-width: 1200px;
  }
  
  .logo {
    margin-top: 10vh;
  }
  
  li {
    padding: 20px;
  }
  
  p {
    font-size: 16px;
    letter-spacing: 0.5px;
    line-height: 30px;
  }
  
  .portfolio-item {
    width: 150px;
    padding: 30px;
  }
  
  .t3 {
    width: 50px;
  }
  
  .worldmap {
    display: inline;
    opacity: 0.2;
  }

  .map {
    max-width: 1200px;
    position: relative;
  }

  .position-title {
    font-size: 16px;
  }
  
}

@media only screen and (min-width: 1140px) {
  .about {
    max-width: 600px;
  }
  
  .about-text {
    
  }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
  display: none !important;
  visibility: hidden;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.invisible {
  visibility: hidden;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}


@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
  opacity:0; 
  -webkit-animation:fadeIn ease-in 1; 
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards; 
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}

.fade-in.one {
  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

.fade-in.two {
  -webkit-animation-delay: 0.9s;
  -moz-animation-delay: 0.9s;
  animation-delay: 0.9s;
}

.fade-in.three {
  -webkit-animation-delay: 1.3s;
  -moz-animation-delay: 1.3s;
  animation-delay: 1.3s;
}